<div class="main-header">
    <div class="content main-content">
        <div class="main-header__row">
            <div class="main-header__logo">Reflection Of Us</div>
            <div class="main-header__contacts">
                <a href="tel:+78005553535" class="main-header-contacts__link">+7 800 555 35 35</a>
                <div class="main-header-menu__form js-modal-open" data-modal-open="callback">Обратный звонок</div>
            </div>
            <div class="main-header__menu">
                <div class="main-header-menu__socials">
                    <div class="main-header-menu__social"></div>
                    <div class="main-header-menu__social"></div>
                    <div class="main-header-menu__social"></div>
                </div>
                <div class="main-header-menu__forms">
                    <div class="main-header-menu__form js-modal-open" data-modal-open="login">Вход</div>
                    <div class="main-header-menu__form js-modal-open" data-modal-open="register">Регистрация</div>
                </div>
                <div class="main-header-menu__forgot">
                    Забыли пароль?
                </div>
            </div>
        </div>
        <div class="main-header__row">
            <div class="main-header__nav">
                <a href="#" class="main-header-nav__item">Item</a>
                <a href="#" class="main-header-nav__item">Itemsdfdsfdfdf</a>
                <a href="#" class="main-header-nav__item">Itemdfdf dfdfdf</a>
                <a href="#" class="main-header-nav__item">Itemdf</a>
                <a href="#" class="main-header-nav__item">Item</a>
                <a href="#" class="main-header-nav__item">Itemdf</a>
                <a href="#" class="main-header-nav__item">Item</a>
                <a href="#" class="main-header-nav__item">Item</a>
                <a href="#" class="main-header-nav__item">Item</a>
                <a href="#" class="main-header-nav__item">Item</a>
                <a href="#" class="main-header-nav__item">Item</a>
                <a href="#" class="main-header-nav__item">Item</a>
                <a href="#" class="main-header-nav__item">Item</a>
                <a href="#" class="main-header-nav__item">Item</a>
                <a href="#" class="main-header-nav__item">Item</a>
                <a href="#" class="main-header-nav__item">Item</a>
                <a href="#" class="main-header-nav__item">Item</a>
                <a href="#" class="main-header-nav__item">Item</a>
            </div>
        </div>
    </div>
</div>